#container-detail{
				width : 1200px;
				margin : 0px auto;
			}
			#board-area{
				margin-left : 50px;
				display : flex;
				flex-direction: column;
				margin-bottom: 50px
			}
.board-title{
	width : 1000px;
	font-size : 20px;
	border : 2px solid #0F8D80;
}
.board-title:focus{
	outline: none;
}
.title-plain{
	font-size : 25px;
	display : block;
	width: 70px;
	margin:0px;
}
.title-area{
	display : flex;
}
textarea{
	margin-top : 30px;
	width: 1070px;
	height: 660px;
	border : 2px solid #0F8D80;
}
textarea:focus{
	outline:none;
}
			#remark-area{
				border-top : 1px dashed yellowgreen;
				padding-top : 25px;
			}
			.comment-area{
				margin : 10px auto;
				width : 1100px;
				height : 40px;
				display : flex;
				border : 1px solid darkgray;
				border-radius : 5px;
			}
				.userNickName{
					margin : auto 0px;
					margin-left : 20px;
					font-size : 20px;
					color : #FBD188;
					width : 150px;
					padding-right : 10px
				}
				.content{
					margin : auto 0px;
					margin-left : 25px; 
					width : 500px;
					font-size : 20px;
				}
				.writeDate{
					margin : auto 0px;
					width : 200px;
					text-align : center;
				}
				.replyWrite{
					width : 85px;
				}
					.replyWrite button{
						margin-top : 7px;
						text-align : center;
			        	color : white;
			        	background-color : #F39081;
			        	border : none;
			        	border-radius : 5px;
			        	padding : 3px 5px;
					}
				.modArea{
					width : 100px;
				}
			.reply-area{
				margin : 10px 0px;
				margin-left : 90px;
				width : 1060px;
				height : 40px;
				display : flex;
				border : 1px solid darkgray;
				border-radius : 5px;
			}
			#write-reply{
				width : 1060px;
				height : 50px;
				margin-left : 90px;
				margin-bottom : 20px;
				border : 1px solid darkgray;
				border-radius : 5px;
			}
			#write-reply form{
				margin-top : 7px;
			}
			#write-reply input:nth-of-type(1){
				border : 0px;
				width : 150px;
				border-right : 1px solid black;
				outline : none;
				margin-left : 20px;
				font-size : 20px;
				color : #FBD188;
			}
			#write-reply input:nth-of-type(2){
				margin-left : 25px;
				width : 670px;
				border : 0;
				outline : none;
				height : 30px;
				font-size : 20px;
			}
			#write-reply input:nth-of-type(7){
				text-align : center;
	        	color : white;
	        	background-color : #F39081;
	        	border : none;
	        	border-radius : 5px;
	        	padding : 6px 5px;
	        	margin-bottom : 3px
			}
			#comment-Write{
				border : 1px solid darkgray;
				width : 1100px;
				border-radius : 5px;
				margin : 0px auto;
			}
			#comment-Write form{
				margin-top : 7px;
			}
			#comment-Write input:nth-of-type(1){
				border : 0px;
				width : 150px;
				border-right : 1px solid black;
				outline : none;
				margin-left : 20px;
				font-size : 20px;
				color : #FBD188;
			}
			#comment-Write input:nth-of-type(2){
				margin-left : 25px;
				width : 700px;
				border : 0;
				outline : none;
				height : 30px;
				font-size : 20px;
			}
			#comment-Write input:nth-of-type(6){
				text-align : center;
	        	color : white;
	        	background-color : #F39081;
	        	border : none;
	        	border-radius : 5px;
	        	padding : 6px 5px;
	        	margin-bottom : 8px
			}
			.modArea{
				display : flex; 
			}
			.modArea input{
				text-align : center;
	        	color : white;
	        	background-color : #F39081;
	        	border : none;
	        	border-radius : 5px;
	        	padding : 3px 5px;
	        	margin : 0px 3px;
	        	margin-bottom : 3px;
	        	margin-top : 7px;
			}
			#for-list{
				text-align : center;
				margin-top : 30px;
				display : flex;
				justify-content : center;
			}
				#for-list a{
					text-decoration : none;
					color : white;
					background-color : #FBD188;
					padding : 5px 5px;
					border-radius : 5px;
					margin : 0px 5px
				}
				#for-list input{
					font-size : 15px;
					color : white;
					width : 60px;
					background-color : #FBD188;
					padding : 5px 0px;
					border : 0px;
					border-radius : 5px;
					margin : 0px 5px;
				}