#login-area {
    margin: 200px auto;
    width: 330px;
    height: 230px;
    border: 1px solid;
    border-radius: 20px;
    border-color: #F38981;
    text-align: center;
}

h2{
	margin-top: 22px;
}

.input-area{
    position:relative;
}
.input-area > input{
    background:transparent;
    border:none;
    border-bottom: solid 1px black;
    padding:20px 0px 5px 0px;
    text-align: center;
}
input::placeholder{
	color:transparent;
}
input:placeholder-shown + label{
    top:15px;
}
input:focus + label, label{
    font-size:10pt;
    pointer-events: none;
    position: absolute;
    left:80px;
    top:0px;
    transition: all 0.2s ease ;
}
input:focus, input:not(:placeholder-shown){
    outline:none;
}

#btn-area {
    margin: 15px;
    color: #0F8D80;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
    input[type=submit], input[type=button]{
        width: 120px;
        height: 30px;
        font-weight: bold;
        color: white;
        background-color: #0F8D80;
        border: 1px solid #0F8D80;
        border-radius: 5px;
        text-align: center;
    }