.container {
  width: 1200px;
  display: flex;
  margin : 0px auto;
}

.side-nav {
  width: 200px;
  height: 500px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #0F8D80;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
	.nav-btn {
	  width: 150px;
	  height: 50px;
	  display: block;
	  margin: 15px auto;
	  text-align: center;
	  border-radius: 10px;
	  background-color: rgb(238, 238, 238);
	  padding: 15px 10px;
	  text-decoration: none;
	  color: black;
	}
	
	.nownav {
	  background-color: #F39081;
	  color: black;
	}
	
	.nav-btn:hover {
	  background-color: #0F8D80;
	  border: none;
	}
	
	.nownav:hover {
	  background-color: #F39081;
	}

#mypage-contentbox {
  width: 980px;
  margin-left: 20px;
  border: 2px solid #0F8D80;
  border-radius: 10px;
}

#mypage-title {
  width: 820px;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  margin: 25px auto;
}

#mypage-content {
  width: 820px;
  margin: 25px auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input-area {
	padding-top:20px;
}
.btn-area {
	padding: 7px;
    align-items: center;
    color: #0F8D80;
    display: flex;
}
input{
    width: 315px;
    background:white;
    border:none;
    border-bottom: solid 1px #FBD188;
    padding:10px 5px 5px 5px;
}
input:focus{
	background:white;
    outline:none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 50px white inset !important;
}
    input[type=submit]{
        width: 300px;
        height: 40px;
        font-weight: bold;
        color: white;
        background-color: #0F8D80;
        border: 1px solid #0F8D80;
        border-radius: 5px;
        text-align: center;
    }
    .err{
    	padding-left:10px;
        font-size: 1px;
        color: red;
    }
    .mail-input {
        width: 100px;
    }
    select {
    	width: 90px;
    	height: 25px;
       	border: none;
    }
    select:focus{
	    outline:none;
	}
   
    input[type=radio]{
        width: 10px;
        margin-top: 15px;
        accent-color: #0F8D80;
    }