main {
	width: 1200px;
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-area {
    padding: 20px;
    margin: 20px;
    width: 400px;
    height: 680px;
    border: 1px solid;
    border-radius: 20px;
    border-color: #F38981;
}
	h2 {
	text-align: center;
	}
    #input-area {
    padding-left:20px;
    }
.btn-area {
	padding: 8px;
    align-items: center;
    color: #0F8D80;
}
input{
    width: 315px;
    background:white;
    border:none;
    border-bottom: solid 1px #FBD188;
    padding:10px 5px 5px 5px;
}
input:focus{
	background:white;
    outline:none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 50px white inset !important;
}
    input[type=submit]{
        width: 300px;
        height: 50px;
        font-weight: bold;
        color: white;
        background-color: #0F8D80;
        border: 1px solid #0F8D80;
        border-radius: 5px;
        text-align: center;
    }
    .err{
    	padding-left:10px;
        font-size: 1px;
        color: red;
    }
    .mail-input {
        width: 100px;
    }
    select {
    	width: 90px;
    	height: 25px;
       	border: none;
    }
    input[type=radio]{
        width: 10px;
        margin-top: 15px;
        accent-color: #0F8D80;
    }