@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}
#container{
    background-color: bisque;
    width : 1200px;
    margin: 0 auto;
}


#tourBoardList{
	width: 1200px;
	margin: 0 auto;
    --display: flex;
}

#boardTitle{
	height: 100px;
}

#bar{
    width: 7px;
    height: 35px;
    background-color: #F39081;
    float: left;
    margin-top: 39px;
    margin-left: 50px;
    margin-right: 10px;
}

#tourBoardList p{
    font-size: 35px;
    float: left;
    margin-top: 20;
}
#tourBoardList button{
    float: right;
    margin-top: 32px;
    margin-right: 30px;
    position: relative;
    border: 0;
    border-radius: 5px;
    padding: 15px 25px;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: #FBD188 ;
}

#tourBoardList button:active{
    top: 2px
}




#tourList {
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}
    
.frameDiv {
    width: 400px;
    position: relative;
}

.frame {
    width: 400px;
    height: 300px;
}

.inframe {
    width: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.startDate{
    z-index: 1;
    font-size: 30px !important;
    font-weight: bold;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -80%);  
    text-shadow: 1.5px 1.5px 0 #ffffff, -1.5px -1.5px 0 #ffffff, 1.5px -1.5px 0 #ffffff, -1.5px 1.5px 0 #ffffff;  
}

.tourTitle{
    font-size: 13px !important;
    font-weight: bold;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 140%);
    
}

.tourContent{
    font-size: 11px !important;
    font-weight: bold;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 170%);
    
}


