



#tourBoardDetail{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boardTitle{
    width: 100%;
    height: 100px;
}

#bar{
    width: 7px;
    height: 35px;
    background-color: #F39081;
    float: left;
    margin-top: 39px;
    margin-left: 50px;
    margin-right: 10px;
}

#tourBoardDetail p{
    font-size: 35px;
    float: left;
    margin-top: 20;
}



#thumbnailAndInfos{
    width: inherit;
     height: 600px;
     border-bottom: 1px dashed #0F8D80;
     display: flex;
     justify-content: space-evenly;
}
#thumbnail{
    margin-top: 45px;
    width: 520px;
    height: 520px;
}
#thumbnail img {
  border-radius: 15px;
  width: 520px;
  height: auto;
  max-height: 520px;
}


.infos {
    width: 140px;
    font-size: 20px;
    padding-left: 20px;
    margin-right: 10px;
    border-right: 1px solid #0F8D80;
  }

#tourInfos{
    width: 520px;
    --height: 520px;
    --border: 1px solid black;
    border-bottom: 1px dashed #0F8D80;
    position: relative;
}
#writerDiv{
    border-bottom: 0.5px dashed #0F8D80;
    height: 40px;
    width: inherit;
    display: flex;
}
#writerDiv>div:first-child {
    margin-top: 5px;
    margin-left: 15px;
    font-size: 25px;
}
#writerDiv>div:last-child{
    margin-top: 15px;
    margin-right: 15px;
    font-size: 15px;
}

#titleDiv{
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 35px;
    height: 150px;
}
#priceDiv, #daysDiv{
    height:30px;
    margin-top: 30px;
    margin-left: 15px;
    font-size: 30px;
}
#buyDiv{
    height: 100px;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}

#pay{   
    margin-left: 15px;
    border: 0;
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
    color: white;
    background-color: #0F8D80;
    width: 160px;
    font-size: 20px;
}
#buyDiv>div:last-child{
    margin-right: 40px;
    padding-top:20px;
}

#currentDiv {
    position: absolute;
    top: 100px;
    left: 340px;
    width: 300px;
    height: 300px;
    background: url(../../../resources/images/bookmark.png) no-repeat;
    background-size: contain;
    display: inline-block;
    padding: 50px;
    box-sizing: border-box; /* content box 영역까지 width, height 적용 */
  }
  #currentDiv p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%); /* 텍스트 가운데 정렬 */
    margin: 0; /* 기본 margin 제거 */
    font-size: 16px;
  }
  

  
  .oneHundred{
    width: 100%;
}

.oneHundred, .half {
    height: 50px;
    display: flex;
    float: left;
    padding: 5px;
    border:1px solid #0F8D80;
    align-items: center;
    border-radius: 10px 10px;
    margin-top: 15px;
  }

  .double-half{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  
  
  input{
    
    border: none;
   
}

#up{   
    margin-top: 15px;
    --margin-right: 30px;
    --position: relative;
    border: 0;
    border-radius: 5px;
    padding: 15px 0;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: #0F8D80;
}

#back{   
    margin-top: 15px;
    margin-right: 30px;
    --position: relative;
    border: 0;
    border-radius: 5px;
    padding: 15px 25px;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: #FBD188 ;
}


#half-button1, #half-button2{
    width: 50%;
    --margin-top: 20px;
    --height: 50px;
    display: flex;
    float: left;
    padding: 5px;
    border:none;
    --align-items: center;
    border-radius: 10px 10px;
    
  }
  #half-button1{
    display: flex;
    justify-content: end;
  }
  button{
    width: 150px;
  }