#tourBoardDetail{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
     position: relative;
}

#boardTitle{
    width: 100%;
    height: 100px;
}

#bar{
    width: 7px;
    height: 35px;
    background-color: #F39081;
    float: left;
    margin-top: 39px;
    margin-left: 50px;
    margin-right: 10px;
}

#tourBoardDetail p{
    font-size: 35px;
    float: left;
    margin-top: 20;
}

#reportBtn{
	border: none;
    background-color: transparent;
	color: black;
	text-decoration: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
}


#thumbnailAndInfos{
    width: inherit;
     height: 580px;
     border-bottom: 1px dashed #0F8D80;
     display: flex;
     justify-content: space-evenly;
    z-index: 0;    
}

#thumbnail{
    width: 520px;
    height: 520px;
}
#thumbnail img {
  border-radius: 15px;
  width: 520px;
  height: auto;
  max-height: 520px;
}

#tourInfos{
    width: 520px;
    height: 520px;
    --border: 1px solid black;
    border-bottom: 1px dashed #0F8D80;
    position: relative;
}
#writerDiv{
    border-bottom: 0.5px dashed #0F8D80;
    height: 40px;
    width: inherit;
    display: flex;
    justify-content: space-between;
}
#writerDiv>div:first-child {
    margin-top: 5px;
    margin-left: 15px;
    font-size: 25px;
}
#writerDiv>div:last-child{
    margin-top: 15px;
    margin-right: 15px;
    font-size: 15px;
}

#titleDiv{
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 35px;
    height: 150px;
}
#priceDiv, #daysDiv{
    height:30px;
    margin-top: 30px;
    margin-left: 15px;
    font-size: 30px;
}
#buyDiv{
    height: 100px;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}

#pay{   
    margin-left: 15px;
    border: 0;
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
    color: white;
    background-color: #0F8D80;
    width: 160px;
    font-size: 20px;
}
#buyDiv>div:last-child{
    margin-right: 40px;
    padding-top:20px;
}

#currentDiv {
    position: absolute;
    top: 100px;
    left: 340px;
    width: 300px;
    height: 300px;
    background: url(../../../resources/images/bookmark.png) no-repeat;
    background-size: contain;
    display: inline-block;
    padding: 50px;
    box-sizing: border-box; /* content box 영역까지 width, height 적용 */
  }
  #currentDiv p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%); /* 텍스트 가운데 정렬 */
    margin: 0; /* 기본 margin 제거 */
    font-size: 16px;
  }
  
  #tourContent img{
  	width: 1100px;
  }
  
/*상세내용*/  
#partition {
  position: absolute;
  top: 650px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}  
#partition p{
	background-color: white;
	z-index: 1;	
	font-size: 12px;
}  
#tourContent{
	padding-top: 30px;
	text-align: center;
	
} 
  
/*  <!--여기서부터 댓글영역-->  */
  
  form {
  display: inline-block;
  /* 폼태그가 div 안건드리게 하는거 */
}
  
  #replyDiv{
    width: 100%;
}

.printReply{
    width: 100%;
    display: flex;
    float: left;
    padding: 5px;
    border:1px solid #c9c9c9;
    align-items: center;
    border-radius: 10px 10px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    
  }
.printReReply{
   width: 100%;
    display: flex;
    float: left;
    padding: 5px;
    border:1px solid #c9c9c9;
    align-items: center;
    border-radius: 10px 10px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 40px;
    
  }
  /* 대댓글 오른쪽 끝 정렬용 */
.printReReplyRight {
	width: 100%;
	display: flex;
	float: left;
	border:none;
	align-items: center;
	justify-content: flex-end; 
}

.commentedDiv{
    width: 770px;
    flex-wrap: wrap;
	word-wrap: break-word;
}
.commentedDiv0{
    width: 790px;
    flex-wrap: wrap;
	word-wrap: break-word;
}


.writeReply{
    width: 100%;
    display: flex;
    float: left;
    padding: 5px;
    border:1px solid #0F8D80;
    align-items: center;
    --justify-content: space-evenly;
    border-radius: 10px 10px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
.writeReply form, .writeReReply form{
	display: flex;
}  
.writerRe {
    width: 150px;
    font-size: 20px;
    padding-left: 20px;
}
  .commentDiv{
      width: 900px;
     
  }
.commentDiv input{
    border: none;
    
    padding-left: 10px;
    width: 100%;
    font-size: 20px;
}

input:focus, #textarea:focus {outline:none;}

.replyBtn, .reReplyBtn{   
    margin-left: 15px;
    border: 0;
    border-radius: 5px;
    padding: 12px 0;
    text-align: center;
    color: white;
    background-color: #FBD188 ;
    width: 85px;
    font-size: 12px;
}

.modifyDeleteDiv{
	--margin-left: 10px;
	
}

/* <!--대댓글쓰기--> */

.writeReReply{
    width: 100%;
    height: 80px;
    display: none;
    float: left;
    padding: 5px;
    border:1px solid #0F8D80;
    align-items: center;
    border-radius: 10px 10px;
    margin-top: 20px;
    margin-left: 40px;
  }


