@charset "UTF-8";

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

* {
	box-sizing: border-box;
	font-family: 'Pretendard-Regular';
}

#withBoardDetail {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

#withTitle {
	width: 100%;
	height: 100px;
}

#bar_title {
	width: 7px;
	height: 35px;
	background-color: #F39081;
	float: left;
	margin-top: 39px;
	margin-left: 50px;
	margin-right: 10px;
}

#withTitle p {
	font-size: 35px;
	float: left;
	margin-top: 20;
}

/* 서브 타이틀 */
#withSubTitle {
	width: 85%;
	margin-top: -90px;;
}

#bar_subtitle {
	width: 5px;
	height: 35px;
	background-color: #FBD188;
	float: left;
	margin-top: 100px;
	margin-right: 10px;
}

#withSubTitle p {
	float: left;
	font-size: 25px;
	margin-top: 100px;
}

#withSubTitle button {
	float: right;
	margin-top: 50px;
	margin-right: 10px;
	position: relative;
	border: 0;
	border-radius: 10px;
	padding: 15px 25px;
	display: inline-block;
	text-align: center;
	color: white;
	background-color: #FBD188;
}

#withBoardDetail button:active {
	top: 4px
}

/* 썸네일 이미지 */
#thumbnailAndInfos {
	width: 100%;
	/* height: 650px; */
	margin-top: 50px;
	border-bottom: 1px dashed #FBD188;
	display: flex;
}

#thumbnail {
	width: 560px;
	height: 610px;
    /* border: 2px solid yellow; */
	margin-right: 50px;
	margin-left: 50px;
}

#thumbnailImage img {
	width: 510px;
	height: 370px;
	display: block;
  	margin: 0 auto;
	border-radius: 10px;
}

#title {
	text-align:center;
	font-size:25px;
	font-weight:bolder;
	margin-top:10px;
}

#date {
	margin-top:20px;
	margin-right:30px;
	text-align:right;
}

#People {
	font-size:30px;
	font-weight:bolder;
	text-align:right;
	margin-top: 20px;
	margin-right:20px;
	color: #0F8D80 ;
}

#mainContent {
	width: 500px;
	height: 540px;
	border: 2px solid #0F8D80;
	border-radius: 10px;
	display: flex;
  	flex-direction: column;
  	
}

#nickname {
	font-weight:bold;
	color: #FBD188;
	margin-left: 30px;
	margin-top: 15px;
}

#writeDate {
	text-align: right;
	color: red;
}

#writeContent {
	width: 486px;
	height: 600px;
	text-align:left;
	margin-left:10px;
	margin-top: 20px;
	font-size: 20px;
	overflow: scroll;
}

#writeContent::-webkit-scrollbar {
  width: 8px;  /* 스크롤바의 너비 */
}

#writeContent::-webkit-scrollbar-thumb {
  background-color: #ddd; /* 스크롤바 썸네일의 배경 색상 */
  border-radius: 8px; /* 스크롤바 썸네일의 모서리 반경 */
}

#writeContent::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* 스크롤바 트랙의 배경 색상 */
  border-radius: 8px; /* 스크롤바 트랙의 모서리 반경 */
}


#modifyBtn{
	margin-top: 25px;
	margin-bottom : 20px;
	text-align: center;
	
}
#modifyBtn button {
	width: 130px;
	height: 45px;
	border:none;
	padding: 10px 0px;
}

.modify{
	border-radius:10px;
	background-color: #0F8D80;
	color: white;
}
.delete{
	border-radius:10px;
	background-color:#FBD188;
	color: white;
}
/* 여기서부터 댓글 영역 입니다. */
/* 댓글이 출력되는 영역 */
#lcomment_container {
	border: 1px solid rgb(107, 106, 106);
	width: 100%;
	height: 70px;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
	border-radius: 10px;
	display: flex;
	align-items: center;
	font-size: 20px;
	margin-bottom: 10px;
}

#lcomment_table {
	width: 100%;
	height: 80%;
}
.lcomment_td1 {
	width: 10%;
	height: 100%;
	color: #FBD188;
}

.lcomment_td2 {
	width: 50%;
	height: 100%;
}

.lcomment_input {
	width: 100%;
	height: 100%;
	font-size: 15px;
	border: 0;
}

.lcomment_td3 {
	width: 15%;
	height: 100%;
	font-size: 15px;
}

.lcomment_td4 {
	width: 10%;
	height: 100%;
}

#lcomment_container button{
	width:90px;
	height: 35px;
	font-size: 15px;
	color: white;
	border: 0;
	border-radius: 10px;
	background-color: #0F8D80;
}

.lcomment_button3{
	font-size: 20px;
	color: white;
	width: 140px;
	height: 50px;
	border: 0;
	border-radius: 10px;
	background-color: #FBD188;
}

.lcomment_td5 {
	width: 15%;
	height: 100%;
	font-size: 15px;
}

.lcomment_td5 a {
	text-decoration: none;
	color: black;
}

/* 댓글 달고 대댓글을 눌렀을 때 뜨는 것*/
#reply_container {
	border: 1px solid rgb(107, 106, 106);
	width: 1200px;
	height: 70px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	border-radius: 10px;
	display: none;
	align-items: center;
	font-size: 20px;
	margin-bottom: 50px;
}

#reply_container form {
	width: 100%;
}

#replycomment_table {
	width: 100%;
	height: 80%;
}

#replycomment_td1 {
	width: 10%;
	height: 100%;
	color: #FBD188;
}

#replycomment_td2 {
	width: 75%;
	height: 100%;
}

#replycomment_input {
	width: 100%;
	height: 60px;
	font-size: 15px;
	border: 0;
}

#replycomment_td3 {
	width: 15%;
	height: 100%;
}

	#reply_container button {
		font-size: 20px;
		color: white;
		width: 140px;
		height: 50px;
		border: 0;
		border-radius: 10px;
		background-color: #F39081;
	}
/* 처음 댓글 작성하는 것 */
#comment_container {
	border: 1px solid rgb(107, 106, 106);
	width: 1200px;
	height: 70px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	border-radius: 10px;
	display: flex;
	align-items: center;
	font-size: 20px;
	margin-bottom: 50px;
}

#comment_container form {
	width: 100%;
}
#withcomment_table {
	width: 100%;
	height: 80%;
}

#withcomment_td1 {
	width: 15%;
	height: 100%;
	color: #FBD188;
}

#withcomment_td2 {
	width: 70%;
	height: 100%;
}

#withcomment_input {
	width: 100%;
	height: 60px;
	font-size: 15px;
	border: 0;
}

#withcomment_td3 {
	width: 15%;
	height: 100%;
}

#comment_container button{
	font-size: 20px;
		color: white;
		width: 140px;
		height: 50px;
		border: 0;
		border-radius: 10px;
		background-color: #F39081;
}