<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freeboardMapper">

	<resultMap type="Freeboard" id="freeboardResultMapper">
		<id property="boardNo" column="BOARD_NO"/>
		<result property="boardHead" column="BOARD_HEAD"/>
		<result property="writeDate" column="WRITE_DATE"/>
		<result property="boardTitle" column="BOARD_TITLE"/>
		<result property="boardSubject" column="BOARD_SUBJECT"/>
		<result property="updateDate" column="UPDATE_DATE"/>
		<result property="boardImage" column="BOARD_IMAGE"/>
		<result property="boardCheck" column="BOARD_CHECK"/>
		<result property="userNo" column="USER_NO"/>
		<result property="userNickname" column="USER_NICKNAME"/>
	</resultMap>
	
	<select id="selectUser" resultMap="freeboardResultMapper">
		SELECT * FROM FREE_BOARD_TBL WHERE USER_NO = 1
	</select>
	
	<!-- 닉네임 가져오기 -->
	<select id="selectNickname" resultType="java.lang.String">
		SELECT UT.USER_NICKNAME FROM USER_TBL UT JOIN FREE_BOARD_TBL FT ON UT.USER_NO = FT.USER_NO WHERE FT.BOARD_NO = #{boardNo }
	</select>
	
	<select id="selectOne" resultMap="freeboardResultMapper">
		SELECT * FROM FREE_BOARD_TBL WHERE BOARD_NO = #{boardNo }
	</select>
	
	<!-- 검색 목록 개수 가져오기 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM FREE_BOARD_TBL
		<if test="searchCondition == 'free'">
			WHERE BOARD_HEAD = #{searchCondition }
		</if>
		<if test="searchCondition == 'question'">
			WHERE BOARD_HEAD = #{searchCondition }
		</if>
	</select>
	
	<!-- 게시글 리스트 보여주기. -->
	<select id="selectFreeboardList" resultMap="freeboardResultMapper">
		SELECT * FROM FREE_BOARD_TBL
		<if test="searchCondition == 'free'">
			WHERE BOARD_HEAD = #{searchCondition }
		</if>
		<if test="searchCondition == 'question'">
			WHERE BOARD_HEAD = #{searchCondition }
		</if>
		ORDER BY BOARD_NO DESC
	</select>
	
	<!-- 검색 목록 개수 가져오기 -->
	<select id="getSearchListCount" resultType="_int">
		SELECT COUNT(*) FROM FREE_BOARD_TBL
		<choose>
			<when test="searchCondition == 'free'">
				WHERE BOARD_HEAD = #{searchCondition }
			</when>
			<when test="searchCondition == 'question'">
				WHERE BOARD_HEAD = #{searchCondition }
			</when>
		</choose>
	</select>
	
	<!-- 검색 목록 불러오기 -->
	<select id="selectListByKeyword" resultMap="freeboardResultMapper">
		SELECT FT.*, UT.USER_NICKNAME
		FROM FREE_BOARD_TBL FT
		LEFT JOIN USER_TBL UT
		ON UT.USER_NO = FT.USER_NO
		<if test="searchCondition == 'free'">
			WHERE FT.BOARD_HEAD = #{searchCondition }
		</if>
		<if test="searchCondition == 'question'">
			WHERE FT.BOARD_HEAD = #{searchCondition }
		</if>
		ORDER BY FT.WRITE_DATE DESC
	</select>
	
	<!-- 질문글/잡담글 등록 -->
	<insert id="insertFreeboard">
		INSERT INTO FREE_BOARD_TBL VALUES(FB_SEQUENCE.NEXTVAL, #{boardHead}, DEFAULT, #{boardTitle}, #{boardSubject}, DEFAULT, #{boardImage}, DEFAULT, #{userNo})
	</insert>
	
	<update id="modifyFreeboard">
		UPDATE FREE_BOARD_TBL SET BOARD_TITLE = #{boardTitle}, BOARD_SUBJECT = #{boardSubject}, BOARD_IMAGE = #{boardImage}, UPDATE_DATE = DEFAULT WHERE BOARD_NO = #{boardNo}
	</update>
	
	<delete id="deleteOne">
		DELETE FROM FREE_BOARD_TBL WHERE BOARD_NO = #{boardNo}
	</delete>
	


</mapper>