<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="groupMapper">
	
	<resultMap type="Group" id="groupResultMap">
		<id property="groupNo" column="GROUP_NO"/>
		<result property="startDate" column="START_DATE"/>
		<result property="endDate" column="END_DATE"/>
		<result property="maxPeople" column="MAX_PEOPLE"/>
		<result property="currentPeople" column="CURRENT_PEOPLE"/>
		<result property="writeDate" column="WRITE_DATE"/>
		<result property="groupName" column="GROUP_NAME"/>
		<result property="leaderUserNo" column="LEADER_USER_NO"/>
		<result property="dateGap" column="DATE_GAP"/>
	</resultMap>	
	
	<insert id="createGroup" parameterType="Group">
		<selectKey keyProperty="groupNo" resultType="int" order="BEFORE">
			SELECT SEQ_GROUP.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO GROUP_TBL VALUES(#{groupNo}, #{startDate}, #{endDate}, #{maxPeople}, 1, SYSTIMESTAMP, #{groupName}, #{leaderUserNo})
	</insert>
	
	<select id="selectByUserNo" resultMap="groupResultMap" parameterType="_int">
		SELECT I.*, trunc(SYSDATE - CAST(END_DATE as DATE)) DATE_GAP FROM USER_TBL E JOIN GROUP_USERS_TBL F ON E.USER_NO = F.USER_NO JOIN GROUP_TBL I ON I.GROUP_NO = F.GROUP_NO WHERE E.USER_NO = #{userNo}
	</select>
	
	<select id="SelectOneByGroupNo" resultMap="groupResultMap" parameterType="_int">
		SELECT * FROM GROUP_TBL WHERE GROUP_NO = #{groupNo}
	</select>
	
	<update id="minusCurrentPeople">
		UPDATE GROUP_TBL SET CURRENT_PEOPLE = CURRENT_PEOPLE - 1 WHERE GROUP_NO = #{groupNo}
	</update>
	
	<!-- 동행게시판 현재 인원수 플러스 -->
	<update id="plusCommentPeople">
		UPDATE GROUP_TBL SET CURRENT_PEOPLE = CURRENT_PEOPLE + 1 WHERE GROUP_NO = #{groupNo}
	</update>
	
	<!-- 동행게시판 초대 버튼 눌렀을 때 그룹 리스트 -->
	<select id="selectlistGroup" resultMap="groupResultMap">
		SELECT * FROM GROUP_TBL WHERE LEADER_USER_NO = #{userNo}
	</select>
	
</mapper>