<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TourMapper">

	<resultMap type="Tour" id="tourResultMap">
		<id property="tourNo" column="TOUR_NO" />
		<result property="tourTitle" column="TOUR_TITLE" />
		<result property="tourContent" column="TOUR_CONTENT" />
		<result property="startDate" column="START_DATE" />
		<result property="endDate" column="END_DATE" />
		<result property="price" column="PRICE" />
		<result property="deadline" column="DEADLINE" />
		<result property="currentPeople" column="CURRENT_PEOPLE" />
		<result property="maxPeople" column="MAX_PEOPLE" />
		<result property="minPeople" column="MIN_PEOPLE" />
		<result property="tourImage" column="TOUR_IMAGE" />
		<result property="thumbnail" column="TOUR_THUMBNAIL" />
		<result property="writeDate" column="WRITE_DATE" />
		<result property="userNo" column="USER_NO" />	
		<result property="userNickname" column="USER_NICKNAME" />	
		<result property="userGrade" column="USER_GRADE" />
		<result property="payDate" column="PAY_DATE"/>
	</resultMap>
	<select id="selectTourList" resultMap="tourResultMap">
		SELECT * FROM TOUR_TBL JOIN USER_TBL USING(USER_NO) ORDER BY WRITE_DATE DESC
	</select>
	<select id="selectOne" resultMap="tourResultMap">
		SELECT * FROM TOUR_TBL JOIN USER_TBL USING(USER_NO) WHERE TOUR_NO = #{tourNo}
	</select>
	<select id="getSequence" resultType="_int">
		SELECT SEQ_TOUR_NO.NEXTVAL FROM DUAL
	</select>
	<select id="getTotalCount" resultType="_int">
		SELECT COUNT(*) FROM TOUR_TBL
	</select>
	
	<select id="selectTourListByUserNo" resultMap="tourResultMap">
		SELECT C.* , B.PAY_DATE FROM USER_TBL A JOIN TOUR_BUY_USER_TBL B ON A.USER_NO = B.USER_NO JOIN TOUR_TBL C ON B.TOUR_NO = C.TOUR_NO WHERE A.USER_NO = #{userNo}
	</select>
	
	<insert id="insertTour">
		INSERT INTO TOUR_TBL VALUES(#{tourNo}, #{tourTitle}, #{tourContent}, #{startDate}, #{endDate}, #{price}, #{deadline}, '0', #{maxPeople}, #{minPeople}, #{tourImage}, #{thumbnail}, DEFAULT, #{userNo})
	</insert>
	
	<delete id="deleteTour">
		DELETE FROM TOUR_TBL WHERE TOUR_NO=#{tourNo}
	</delete>
	<update id="updateTour">
		UPDATE TOUR_TBL SET TOUR_TITLE=#{tourTitle}, TOUR_CONTENT=#{tourContent}, START_DATE=#{startDate}, END_DATE=#{endDate}, PRICE=#{price}, DEADLINE=#{deadline}, MAX_PEOPLE=#{maxPeople}, MIN_PEOPLE=#{minPeople}, TOUR_IMAGE=#{tourImage}, TOUR_THUMBNAIL=#{thumbnail} WHERE TOUR_NO=#{tourNo}
	</update>
	
</mapper>