<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	
	<resultMap type="User" id="userResultMap">
		<id property="userNo" column="USER_NO"/>
		<result property="userId" column="USER_ID"/>
		<result property="userPw" column="UESR_PW"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userNickname" column="USER_NICKNAME"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userBirthDate" column="USER_BIRTH_DATE"/>
		<result property="userGender" column="USER_GENDER"/>
		<result property="companyRegiNo" column="COMPANY_REGI_NO"/>
		<result property="userGrade" column="USER_GRADE"/>
	</resultMap>
	<insert id="insertUser" parameterType="User">
		INSERT INTO USER_TBL VALUES(USER_SEQUENCE.NEXTVAL, #{userId}, #{userPw}, #{userName}, #{userNickname}, #{userEmail}, #{userPhone}, #{userBirthDate}, #{userGender}, NULL, #{userGrade})
	</insert>
	<insert id="insertCoUser" parameterType="User">
		INSERT INTO USER_TBL VALUES(USER_SEQUENCE.NEXTVAL, #{userId}, #{userPw}, #{userName}, #{userNickname}, #{userEmail}, #{userPhone}, #{userBirthDate}, NULL, #{companyRegiNo}, #{userGrade})
	</insert>
	
	<delete id="deleteBuyUser" parameterType="TourBuyUser">
		DELETE FROM TOUR_BUY_USER_TBL WHERE PAY_DATE = #{payDate} AND USER_NO = #{userNo} AND TOUR_NO = #{tourNo}
	</delete>
	
	<select id="Login" resultMap="userResultMap">
		SELECT USER_NO, USER_NICKNAME, USER_GRADE FROM USER_TBL WHERE USER_ID = #{userId} AND USER_PW = #{userPw}
	</select>
	<select id="selectUserById" resultMap="userResultMap" parameterType="_int">
		SELECT * FROM USER_TBL WHERE USER_NO = #{userNo}
	</select>	
	<select id="selectByGroupNo" resultMap="userResultMap">
		SELECT E.USER_NO, E.USER_NICKNAME, E.USER_EMAIL, FLOOR((SYSDATE - TO_DATE(E.USER_BIRTH_DATE, 'RR-MM-DD')) / 365) USER_BIRTH_DATE, USER_GENDER
		FROM GROUP_USERS_TBL F JOIN USER_TBL E ON E.USER_NO = F.USER_NO 
		WHERE GROUP_NO = #{groupNo}
	</select>
	
	<select id="selectPayUserbyNo" resultMap="userResultMap">
		SELECT * FROM USER_TBL WHERE USER_NO=#{payUserNo} 
	</select>
</mapper>