<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"></setting>
	</settings>
	<typeAliases>
		<typeAlias alias="User" type="com.semi.hitinerary.user.domain.User"/>
		<typeAlias alias="Freeboard" type="com.semi.hitinerary.freeboard.domain.Freeboard"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/user-mapper.xml"/>
		<mapper resource="mappers/freeboard-mapper.xml"/>
	</mappers>
</configuration>