<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"></setting>
	</settings>
	<typeAliases>
		<typeAlias alias="User" type="com.semi.hitinerary.user.domain.User"/>
		<typeAlias alias="Group" type="com.semi.hitinerary.group.domain.Group"/>
		<typeAlias alias="Timecapsule" type="com.semi.hitinerary.timecapsule.domain.Timecapsule"/>
		<typeAlias alias="Freeboard" type="com.semi.hitinerary.freeboard.domain.Freeboard"/>
		<typeAlias alias="withBoard" type="com.semi.hitinerary.withboard.domain.With"/>
		<typeAlias alias="Tour" type="com.semi.hitinerary.tour.domain.Tour"/>
		<typeAlias alias="TourPay" type="com.semi.hitinerary.tour.domain.TourPay"/>
		<typeAlias alias="groupBoard" type="com.semi.hitinerary.groupboard.domain.Groupboard"/>
		<typeAlias alias="Comment" type="com.semi.hitinerary.comment.domain.Comment"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/user-mapper.xml"/>
		<mapper resource="mappers/group-mapper.xml"/>
		<mapper resource="mappers/timecapsule-mapper.xml"/>
		<mapper resource="mappers/freeboard-mapper.xml"/>
		<mapper resource="mappers/withBoard-mapper.xml"/>
		<mapper resource="mappers/tour-mapper.xml"/>
		<mapper resource="mappers/tour-pay-mapper.xml"/>
		<mapper resource="mappers/groupboard-mapper.xml"/>
		<mapper resource="mappers/comment-mapper.xml"/>
	</mappers>
</configuration>